{% extends 'base.html' %}

{% block title %}Materie{% endblock title %}

{% block content %}
<h1>Materie caricate tramite API:</h1>
<ol id="lista">
</ol>
{% endblock content %}

{% block script %}
<script>
  (async function() {
    const d=await fetch("{%url 'prova_pratica_1:materie_list'%}");
    const {materie}=await d.json();
    for(const {nome} of materie) {
      const li=document.createElement("li");
      li.innerText=nome;
      document.getElementById("lista").appendChild(li);
    }
  })();
</script>
{% endblock script %}